{
  "root": true,
  "parser": "@typescript-eslint/parser", // có tác dụng chuyển đổi mã nguồn TypeScript thành AST, giúp ESLint hiểu được mã nguồn TypeScript
  "plugins": ["@typescript-eslint", "prettier"], // có tác dụng kích hoạt các plugin
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier", "prettier"], // có tác dụng kế thừa cấu hình từ các cấu hình khác
  "rules": {
    "@typescript-eslint/no-explicit-any": "off", // có tác dụng tắt quy tắc kiểm tra kiểu dữ liệu any
    "@typescript-eslint/no-unused-vars": "off", // có tác dụng tắt quy tắc kiểm tra biến không sử dụng
    "prettier/prettier": [
      "warn", // có tác dụng cảnh báo khi vi phạm quy tắc của Prettier
      {
        "arrowParens": "always", // có tác dụng bắt buộc sử dụng dấu ngoặc đơn cho tham số của hàm mũi tên
        "semi": false, // có tác dụng loại bỏ dấu chấm phẩy ở cuối dòng
        "trailingComma": "none", // có tác dụng loại bỏ dấu phẩy ở cuối mảng hoặc object
        "tabWidth": 2, // có tác dụng thiết lập kích thước tab
        "endOfLine": "auto", // có tác dụng tự động chuyển đổi ký tự xuống dòng
        "useTabs": false, // có tác dụng loại bỏ việc sử dụng tab
        "singleQuote": true, // có tác dụng sử dụng dấu nháy đơn
        "printWidth": 120, // có tác dụng thiết lập độ dài tối đa của một dòng
        "jsxSingleQuote": true // có tác dụng sử dụng dấu nháy đơn trong JSX
      }
    ]
  }
}
